*{
  font-family: 'Spartan', sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

/*
MENU
*/

.menu{
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-left: 50px;
  position: absolute;
  color: white;
}

.menu img{
  cursor: pointer;
}

.menu a{
  text-decoration: none;
  color: white;
  cursor: pointer;
  margin-left: 30px;
}

.menu a:hover{
  text-decoration: underline;
}

/*
ACTIVE STATES
*/

.container{
  display: flex;
  min-height:400px;
}

.picture{
  height: 70vh;
  min-height: 400px;
  width: 60%;
  background-image: url(./images/desktop-image-hero-1.jpg);
  background-position: left;
  background-size: cover
}

.text{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text h1{
  font-size: 32px;
  width: 80%;
  margin-bottom: 20px;
}

.paragraphe {
  width: 80%;
  color: hsl(0, 0%, 63%);
  margin-bottom: 20px;
  line-height: 22px;
}

.text img{
  opacity: 0.43;
}

.call-to-action{
  text-transform: uppercase;
  width: 80%;
}

.call-to-action p {
  margin-right: 30px;
}

.call-to-action a{
  text-decoration: none;
  color: hsl(0, 0%, 63%);
  display: flex;
  letter-spacing: 10px;
}

/*
BUTTONS
*/

.btn {
  display: flex;
  position: absolute;
  bottom: 30vh;
  left: 60%;
}

.btn-left{
  background-color: black;
  cursor: pointer;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-right{
  background-color: black;
  cursor: pointer;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-left:hover{
  background-color: hsl(0, 0%, 27%);
}

.btn-right:hover{
  background-color: hsl(0, 0%, 27%);
}

/*
UNDER-CONTENT
*/

.under-content{
  display: flex;
  height: 30vh;
  min-height: 200px;
}

.under-content img{
  width: 27%;
}

.under-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 60px;
  padding-right: 30px;
}


.under-text h1{
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.under-text p{
  color: hsl(0, 0%, 63%);
  line-height: 22px;
}

@media screen and (max-width:860px){

  .container{
    height: 100vh;
  }
  .paragraphe{
    line-height: 17px;
  }
  .text h1{
    font-size: 27px;
  }
  .picture{
    height: 100vh;
  }
  .btn{
    bottom: 0vh;
  }

  .right-img{
    display: none;
  }
  .under-content{
    height: 60vh;
  }
  .under-text p{
    line-height: 17px;
  }

}

@media screen and (max-width:414px) {

  .container{
    display: inline;
  }
  .picture{
    width: 100vw;
  }
  .menu a{
    display: none;
    margin: 50px auto;
  }
  .text{
    width: 100vw;
    height: 60vh;
  }
  .btn{
    right: 0;
    left: auto;
  }

  .under-content{
    display: inline;
    width: 100vw;
  }
  .under-content img{
    width: 100%;
    height: 40vh;
  }
  
  .under-text{
    height: 60vh;
  }
  .right-img{
    display: inline;
  }

}